<mat-toolbar color="primary" class="navbar">
  <div routerLink="/">
    <h2>AIP Assignment 3</h2>
  </div>
  <div>
    <span *ngIf="!username">
      <button *ngIf="!(isHandset$ | async)" mat-button class="navButtons" routerLink="login">
        Log In
      </button>
      <button *ngIf="!(isHandset$ | async)" mat-flat-button class="navButtons" routerLink="signup">
        Sign Up
      </button>

      <button 
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async"
          mat-button 
          [matMenuTriggerFor]="menu">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="login">Log in</button>
          <button mat-menu-item routerLink="signup">Sign up</button>
      </mat-menu>
        
    </span>
    <span *ngIf="username">
      <button *ngIf="!(isHandset$ | async)" mat-flat-button class="navButtons" color="accent" routerLink="createPost">
        Create Post
      </button>
      <button *ngIf="!(isHandset$ | async)" mat-flat-button class="navButtons" routerLink="viewOwnPosts">
        Your Posts
      </button>
      <button *ngIf="!(isHandset$ | async)" mat-button class="navButtons" (click)="logout()">
        Logout
      </button>

      <button 
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          *ngIf="isHandset$ | async"
          mat-button 
          [matMenuTriggerFor]="menu">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="createPost">Create Post</button>
          <button mat-menu-item routerLink="viewOwnPosts">Your Posts</button>
          <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
    </span>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
