.viewPostComponent{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: 80%;
    background-color: white;
    border: 1px solid #7500B9;;
    border-radius: 4px;
    padding: 10px;
}


h4 {
    color: #7500B9;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.post > *{
    margin-bottom: 30px;
}

.postHeader {
    display: flex;
    justify-content: space-between;
}
