.mainBody {
    width: 100%;
    margin-top: 3%;
}

.createPostBtn {
    float: left;
    margin-left: 10%;
}

.postComponent{
    float: right;
    margin-right: 10%;
    width: 60%;
    background-color: white;
    border: 1px solid #7500B9;;
    border-radius: 4px;
    padding: 10px;
}

.postComponent > *:not(:last-child) {
    margin-bottom: 30px;
}

h4 {
    color: #7500B9;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.postBtns {
    display: flex;
    justify-content: space-between;
}

