<!-- Code by Chris Farmer from Stackoverflow: https://stackoverflow.com/a/51251782 -->
<div class="responseComponent">
    <h4>user: {{childImage.username}}</h4>
    <img src="{{childImage.imageUrl}}">                
    <button *ngIf="currentUser" mat-flat-button color="primary" (click)="openCreateResponseDialog(childImage.imageUrl)">
        Create Response
    </button>
    
    <div *ngIf="childImage.children">
        <post-responses
            *ngFor="let item of childImage.children"
            [childImage]="item"
            [parentUrl]="childImage.imageUrl">   
        </post-responses>                        
    </div>                     
</div>