<mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" [pageSize]="5"></mat-paginator>
<div class="mainbody" *ngIf="errorMessage">
    <h2>{{errorMessage}}</h2>
</div>
<div class="mainBody">
    <div class="postComponent" *ngFor="let image of images">
        <h4>user: {{image.username}}</h4>
        <img src="{{image.imageUrl}}" routerLink="viewPost">

        <div class="postBtns">
            <mat-button-toggle-group>
                <mat-button-toggle>👍</mat-button-toggle>
                <mat-button-toggle>😆</mat-button-toggle>
                <mat-button-toggle>😥</mat-button-toggle>
                <mat-button-toggle>😮</mat-button-toggle>
                <mat-button-toggle>😠</mat-button-toggle>
            </mat-button-toggle-group>

            <button mat-flat-button color="primary" routerLink="viewPost">{{numResponses}} Responses</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
