<div class="mainBody">
  <div class="sortBtn">
    <button mat-raised-button (click)="changeSortType()">Sort Posts By {{sortType}}</button>
  </div>

  <!-- Code from npx-pagination documentation: https://www.npmjs.com/package/ngx-pagination#styling-->
  <!-- Paginator is limiting the page to only show 10 posts at a time -->
  <div class="postComponent" 
    *ngFor="let image of images | paginate: { itemsPerPage: 10, currentPage: currPage }">
    <img src="{{image.imageUrl}}">

    <!-- Button will only show if the post has responses and if it isn't already a placeholder -->
    <button 
      *ngIf="image.children.length > 0 && image.imageUrl != 'https://aip-project2019.s3.ap-southeast-2.amazonaws.com/1570419663723'" 
      mat-flat-button color="warn" 
      (click)="replaceWithPlaceholder(image.imageUrl)">
      Replace Image With Placeholder
    </button>

    <!-- Button will only show if the post has no responses -->
    <button 
      *ngIf="!(image.children.length > 0)" 
      mat-flat-button color="warn" 
      (click)="deletePost(image.imageUrl)">
      Delete Post
    </button>

    <!-- Change post div will only show if the children has no responses -->
    <div *ngIf="!(image.children.length > 0)">
      <hr>
      <h4>Change Post Image</h4>
      <p>(Max Size 2MB)</p>
            
      <form (ngSubmit)="changeImage(image.imageUrl, file)">

        <!-- Show error message if image validation fails -->
        <span *ngIf="uploadErrorMessage">
          <h5>{{uploadErrorMessage}}</h5>
        </span>

        <input 
          #file type="file" 
          accept='image/*' 
          (change)="seeImage(file.files)"
        />

        <img [src]="imgURL" *ngIf="imgURL">

        <button 
          mat-flat-button 
          color="accent" 
          *ngIf="imgURL" 
          type="submit">
          Change Image
        </button>
      </form>
    </div>
  </div>
  <!-- Code from npx-pagination documentation: https://www.npmjs.com/package/ngx-pagination#styling-->
  <!-- Paginator is displayed here -->
  <div class="paginatorDiv">
    <pagination-controls (pageChange)="currPage = $event"></pagination-controls>
  </div>      
</div>
    
<!-- spinner will show itself when a button in a post is pressed -->
<mat-spinner color="accent" *ngIf="showSpinner"></mat-spinner>