<div class="loginComponent">
  <h2>Sign In</h2>
  <p *ngIf="message">{{ message }}</p>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="userid" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="password"
        placeholder="Password"
        formControlName="password"
      />
    </mat-form-field>

    <button mat-flat-button color="primary" type="submit">Sign In</button>
  </form>
</div>
